/* h1 */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
/* h2 */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* figcaption baner */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');
/* figcaption cards */
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');
/* buttons */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');